* {
	margin: 0;
	padding: 0;
}
body.bad {
	background: #ebeef0;
	font: 13px Arial, Helvetica, Tahoma, sans-serif;
	color: #515151;
}
body.bad a {
	text-decoration: none;
	color: #56769d;
}
body.bad a:hover {
	text-decoration: underline;
}
.bad-box {
	width: 550px;
	height: 330px;
	background: #fff;
	position: absolute; top: 50%; left: 50%;
	margin: -165px 0 0 -275px;
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.bad-box-head {
	height: 60px;
	text-align: center;
	background: #56769d;
	overflow: hidden;
}
.bad-box-head img {
	margin-top: 21px;
}
.bad-box-logotype {
	display: block;
	width: 114px;
	height: 24px;
	background: url(../img/common-sprite.png) 0 -5px;
	margin: 21px auto;
}
.bad-box-content {
	padding: 15px;
	text-align: center;
	line-height: 18px;
}
.bad-box-content p {
	margin-bottom: 15px;
}
.bad-box-list {
	list-style: none;
	margin-top: 40px;
}
.bad-box-list li {
	width: 130px;
	float: left;
	text-align: center;
}
.bad-box-list a {
	display: block;
}
.bad-box-list .browser {
	content: "";
	display: block;
	background: url(../img/good-browsers.png) no-repeat;
	width: 90px;
	height: 90px;
	margin: 0 auto;
	margin-bottom: 5px;
}
.bad-box-list .browser.firefox {
	background-position-x: -90px;
}
.bad-box-list .browser.opera {
	background-position-x: -180px;
	width: 78px;
}
.bad-box-list .browser.safari {
	background-position-x: -260px;
	width: 75px;
}
.clear {
	clear: both;
}